.page {
    padding: 60px;
    overflow: hidden;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

.leaderboard {
    max-height: 400px;
    overflow: scroll;
}
