{# officepong/templates/home.html #}
<!doctype html>
<head>
  <title>OfficePong</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for("static", filename="style.css") }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <div class="results">
    <div class="matches">
      <h3>Match History</h3>
      <table>
	<tr>
	  <th>Date</th>
	  <th>Won</th>
	  <th>Lost</th>
	  <th>Score</th>
	  <th>Act.</th>
	  <th>Exp.</th>
	  <th>&Delta;</th>
	</tr>
	{% for match in matches[::-1] %}
	<tr>
	  <td>{{convert_timestamp(match.timestamp)}}</td>
	  <td>{{match.winners}}</td>
	  <td>{{match.losers}}</td>
	  <td>{{match.win_score}} : {{match.lose_score}}</td>
	  <td>{{'%i%%' % (100 * (match.actual|float))}}</td>
	  <td>{{'%i%%' % (100 * (match.expected|float))}}</td>
	  <td align="right">{{'%.1f' % (match.delta|float)}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
    <div class="leaderboard">
      <h3>Leaderboard</h3>
      <table>
	<tr>
	  <th>Name</th>
	  <th>Elo</th>
	  <th align="right">Games</th>
	</tr>
	{% for elo, name, games in players if games >= 0 %}
	<tr>
	  <td>{{name}}</td>
	  <td align="right">{{elo|int}}</td>
	  <td align="right">{{games|int}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
  <hr>
  <div>
  <form action="{{ url_for("add_match") }}" method="post">
    <div class="loser">
      <h3>Loser</h3>
      {% for elo, name, _ in players %}<input type="checkbox" value="{{name}}" name="loser" id="lose_{{name}}"/><label for="lose_{{name}}">{{name}}</label>{% endfor %}
      <center>
	<select class="lose_score" name="lose_score">
	  <option disabled selected value>
	    {% for n in range(31) %}
	  <option value="{{n}}">{{n}}</option>
	  {% endfor %}
	</select>
      </center>
    </div>
    <div class="winner">
      <h3>Winner</h3>
      {% for elo, name, _ in players %}<input type="checkbox" value="{{name}}" name="winner" id="win_{{name}}"/><label for="win_{{name}}">{{name}}</label>{% endfor %}
      <center>
	<select name="win_score">
	  <option value="21">21</option>
	  {% for n in range(33) %}
	  <option value="{{n}}">{{n}}</option>
	  {% endfor %}
	</select>
      </center>
    </div>
    <input type="submit" value="Add Match" class="wide">
  </form>
  </div>
  <hr>
  <div class="recalculate">
    <form action="{{ url_for("recalculate") }}" method="post">
      <input type="submit" value="Recalculate">
    </form>
  </div>
  <form action="{{ url_for("register") }}" method="post">
    <input type="text" name="name">
    <input type="submit" value="Register">
  </form>
</body>
</html>
